<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ossrh-snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>ossrh-snapshots</id>
          <name>Sonatype snaphost repo</name>
          <url>https://s01.oss.sonatype.org/content/repositories/snapshots</url>
          <layout>default</layout>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>oracle</activeProfile>
  </activeProfiles>
</settings>
